// import components scss files

@use "../../scss/components/variables" as *;
@use "../../scss/components/breakpoints" as *;
@use "../../scss/components/animation" as *;
@use "../../scss/components/mixins" as *;
@use "../../scss/sections/base" as *;

/* ======================================
            articles section
====================================== */
.articles {
  background-color: #ececec;
  .grid-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 40px;
    article {
      background-color: white;
      box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
      transition: 0.5s ease-in-out;
      border-radius: 5px;
      img {
        max-width: 100%;
      }
      .content {
        padding: 10px 15px;
        h3 {
          padding: 0;
          color: #000;
        }
        p {
          margin: 14px auto;
        }
      }
      &:hover {
        transform: translateY(-10px);
        box-shadow: 0 2px 15px rgb(0 0 0 /20%);
      }
      &:hover i {
        animation: moving-arrow 0.6s linear infinite;
      }
    }
    .read-more {
      display: flex;
      justify-content: space-between;
      border-top: 1px solid #cecbcb;
      padding: 15px;
      color: var(--main-service-color);
      position: relative;
      a {
        font-weight: 700;
      }
      i {
        font-size: 20px;
      }
    }
  }
}
