// import components scss files

@use "../../scss/components/variables" as *;
@use "../../scss/components/breakpoints" as *;
@use "../../scss/components/animation" as *;
@use "../../scss/components/mixins" as *;
@use "../../scss/sections/base" as *;

/* ======================================
header 
====================================== */
/* ======================================
header 
====================================== */
header {
  &.fixed-nav {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    background-color: #fff;
    box-shadow: 0 0 10px #ddd;
  }
  .container {
    nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      /*   @include media-breakpoint-down(md) {
        display: none;
      } */

      .logo {
        color: var(--main-service-color);
        font-size: 28px;
        font-weight: 700;
        letter-spacing: 1px;
        flex: 0.25;
        height: 62px;
        @extend %flex-center;
      }
      .nav__list {
        @include media-breakpoint-down(md) {
          position: fixed;
          top: -100%;
          left: 0;
          width: 100%;
          height: 100vh;
          flex-direction: column;
          background-color: white;
          z-index: 100;
          transition: 0.5s ease-in-out;
          &.active {
            top: 0;
          }
        }
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0.5;
        .nav__item {
          .nav__link {
            height: 62px;
            line-height: 62px;
            padding: 0 25px;
            position: relative;
            transition: 0.2s ease-in-out;
            &:hover,
            &.active {
              color: var(--main-service-color);
            }
            &:before {
              height: 3px;
              background-color: var(--main-service-color);
            }
            &:before,
            &:after {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              width: 0;
              transition: 0.2s ease-in-out;
            }

            &:after {
              height: 100%;
              background-color: rgb(0 0 0 / 1%);
              z-index: -1;
            }
            &:hover:after,
            &:hover:before,
            &.active:before,
            &.active:after {
              width: 100%;
            }
            @include media-breakpoint-down(md) {
              font-size: 24px;
            }
          }
        }
      }
    }
  }
}

.scroll-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  cursor: pointer;
  color: white;
  background-color: var(--main-service-color);
  border-radius: 2px;
  padding: 7px 10px;
  font-size: 24px;
  display: none;
  z-index: 999;
  transition: 0.3s ease-in-out;
  &.show-scroll-btn {
    display: block;
  }
}

/* nav toogle */

.nav-toggle {
  z-index: 101;
  display: none;
  @include media-breakpoint-down(md) {
    display: block;
  }
  position: absolute;
  top: 20px;
  right: 25px;
  i {
    font-size: 24px;
    padding: 5px;
    cursor: pointer;
  }
  i:nth-child(2) {
    display: none;
  }
  &.active i:nth-child(1) {
    display: none;
  }
  &.active i:nth-child(2) {
    display: block;
  }
}

/* scroll btn */
.scroll-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  cursor: pointer;
  color: white;
  background-color: var(--main-service-color);
  border-radius: 2px;
  padding: 7px 10px;
  font-size: 24px;
  display: none;
  z-index: 999;
  transition: 0.3s ease-in-out;
  &.show-scroll-btn {
    display: block;
  }
}
