// import components scss files

@use "../../scss/components/variables" as *;
@use "../../scss/components/breakpoints" as *;
@use "../../scss/components/animation" as *;
@use "../../scss/components/mixins" as *;
@use "../../scss/sections/base" as *;

/* ===================================
         how it works section
   =================================== */

.works {
  background-color: #e6e6e7;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include media-breakpoint-down(lg) {
      flex-direction: column;
    }
    figure {
      margin-right: 50px;
      img {
        max-width: 100%;
      }
    }
    .boxes-area {
      .box {
        width: 90%;
        background-color: #f6f6f6;
        margin: 15px auto;
        border-radius: 5px;
        border: 2px solid white;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 30px;
        position: relative;
        z-index: 1;
        &:before {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 0;
          height: 0;
          background-color: #ededed;
          transition: 0.5s ease-in-out;
          z-index: -1;
        }
        &:hover:before {
          width: 100%;
          height: 100%;
        }
        @include media-breakpoint-down(md) {
          flex-direction: column;
        }
        img {
          width: 64px;
        }
        .info {
          padding-left: 50px;
          @include media-breakpoint-down(md) {
            padding-left: 0;
            text-align: Center;
            margin-top: 10px;
          }
          h3 {
            margin: 0;
            color: #000;
            font-size: 22px;
          }
          p {
            color: #777;
          }
        }
      }
    }
  }
}
