// import components scss files

@use "../../scss/components/variables" as *;
@use "../../scss/components/breakpoints" as *;
@use "../../scss/components/animation" as *;
@use "../../scss/components/mixins" as *;
@use "../../scss/sections/base" as *;
/* ======================================
Testimonials section
====================================== */

.testimonial {
  background-color: #e6e6e7;
  .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
    .card {
      background-color: white;
      border-radius: 5px;
      padding: 25px;
      position: relative;
      h3 {
        margin: 0;
        padding: 0;
        color: #000;
      }
      .title {
        display: block;
        text-transform: capitalize;
        margin: 7px 0 4px;
        font-size: 16px;
      }
      img {
        width: 100px;
        position: absolute;
        top: -35px;
        right: -5px;
        background-color: #e6e6e7;
        border-radius: 50%;
        border: 10px solid #e6e6e7;
      }

      .rate {
        i {
          color: #ffc800;
        }
      }
      p {
        color: #969595;
        font-size: 16px;
        margin-top: 15px;
      }
    }
  }
}
