// import components scss files

@use "../../scss/components/variables" as *;
@use "../../scss/components/breakpoints" as *;
@use "../../scss/components/animation" as *;
@use "../../scss/components/mixins" as *;
@use "../../scss/sections/base" as *;

/* ======================================
            stats section
====================================== */

.stats {
  background-image: url("https://picsum.photos/id/65/1200");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  z-index: 1;
  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(255 255 255/ 90%);
    z-index: -1;
  }
  .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
    .stats-box {
      @extend %flex-center;
      flex-direction: column;
      gap: 10px;
      background-color: #f5f5f5;
      padding: 35px;
      border-radius: 2px;
      transition: 0.5s ease-in-out;
      position: relative;
      &:before,
      &:after {
        content: "";
        position: absolute;
        width: 3px;
        height: 0;
        background-color: var(--main-service-color);
        transition: 0.5s ease-in-out;
      }
      &:before {
        left: -1px;
        top: 0;
      }
      &:after {
        right: -1px;
        bottom: 0;
      }
      &:hover:before,
      &:hover:after {
        height: 100%;
      }
      &:hover {
        background-color: #fff;
      }
      i {
        font-size: 42px;
        color: #000;
      }
      .count {
        font-size: 36px;
        font-weight: 700;
        color: #000;
      }
      .name {
        font-size: 22px;
        color: var(--main-service-color);
        text-transform: capitalize;
        font-weight: 700;
      }
      /*  span {
        display: block;
      } */
    }
  }
}
